<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
    <div class="page-content">
        <div class="wrapper">
        {% include menu.html %}

        <h2>Posts</h2>

        {% for post in site.posts %}    
            <span><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></span>
            <p><small>Published at {{ post.date | date: "%B %e, %Y" }} about: #{{ post.categories }}</small></p>            
            <p> {{ post.excerpt | remove: '<p>' | remove: '</p>' }} <small><a href="{{ post.url }}">» Keep reading</a></small></p>
            <br>
            {% endfor %}  

            <center><small><a href="/feed.xml">ATOM feed</a></small></center>
        </div>
    </div>

    {% include footer.html %}
</body>
</html>
